<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.egorpetruchcho.tweetstream.operations"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.egorpetruchcho.tweetstream.core.TweetsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppCompatTheme">

        <activity
            android:name="com.egorpetruchcho.tweetstream.ui.TweetsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.egorpetruchcho.tweetstream.ui.SmartTweetsListActivity"
            android:label="Smart Tweets"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.egorpetruchcho.tweetstream.ui.StatsActivity"
            android:label="Stats Tweets"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.egorpetruchcho.tweetstream.task.BackgroundSpiceService"
            android:exported="false"/>
    </application>


</manifest>